data/data.csv
terraform/.terraform.lock.hcl
terraform/.terraform/*
docker/shell-root/*
RDFox.lic
Trafikk/Trafikk/bin
Trafikk/Trafikk/obj
data/STID.ElectricalNetwork.anon.csv
ElNetRDf/bin
ElNetRDf/obj
