@using Elnet.Services
@using Elnet.Services.Interfaces
@inject ISparqlQueryHelper SparqlQueryHelper

<h3>Network </h3>


@code {
    string _networkName = "...";

    protected override async Task OnInitializedAsync()
    {
        var queryString = await SparqlQueryHelper.ReadQuery("network");

        var queryResults = SparqlQueryHelper. GetSparqlResult(queryString);
        await foreach (var queryResult in queryResults)
        {
            _networkName = Elnet.Services.SparqlQueryHelper.getObjectQueryBindingValue(queryResult, "name");
        }

    }

}